<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quos eos doloremque aperiam iste animi, eligendi beatae magni corporis soluta maiores dolorum, suscipit earum necessitatibus, iusto voluptas perspiciatis molestias totam!</p>
<%- include("footer") -%>